.h-select-list-container {
	width: 150px;
	display: flex;
	flex-direction: column;
}

.h-select-list-container input {
	padding: 4px 2px;
	border: solid 1px #2E1A47;
}

.h-options-list {
	display: flex;
	flex-direction: column;
	max-height: 200px;
	border-left: solid 1px #2E1A47;
	border-right: solid 1px #2E1A47;
	border-bottom: solid 1px #2E1A47;
}

.h-option {
	padding: 4px 2px;
}

.h-option:hover {
	background-color: #541b5410;
	cursor: pointer;
}

.h-option.selected {
	background-color: #541b54cf;
	cursor: pointer;
	color: white;
}